h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container_contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_contact form {
  width: 100%;
}
.container_contact form .input_contact {
  display: flex;
  flex-direction: column;
}
.container_contact form .input_contact label {
  font-size: 12px;
  color: #6d6d6d;
  margin-top: 10px;
  margin-bottom: 5px;
}
.container_contact form .input_contact input,
.container_contact form .input_contact select {
  height: 37px;
  font-size: 14px;
  max-width: 730px;
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid #c7c7c7;
}
.container_contact form .input_contact select {
  margin-top: 10px;
}
.container_contact form button {
  background: #4B6D47;
  color: #fff;
  border-color: #4B6D47;
  text-transform: none;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  transition: .3s;
  border: none;
  width: 100%;
  max-width: 450px;
  height: 50px;
  border-radius: 4px;
  margin-top: 30px;

  &:hover {
    opacity: .7;
  }
}
