@import "../_variables";

.link--whatsapp {
  left: auto;
  right: 10px;
  bottom: 10px;
  position: fixed;
  text-decoration: none;
}

.buttonLink--footer-menus-atendimento {
  background: none;
  border-radius: 4px;
  border: 2px solid #4B6D47;
  .label {
    padding:12px 24px;
    font-size: 14px;
    color: #4B6D47;
    font-weight: 400;
    text-transform: initial;
  }
  &:hover {
    background: none;
    border: 2px solid #4B6D47;
  }
}

.link--footer-menus-relacionamento-com-cliente-link {
  background: #fff;
  color: #4B6D47;
  border: solid 2px #4B6D47;
  text-transform: none;
  font-size: 16px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  transition: .3s;
  text-decoration: none;
  border-radius: 4px;
  width: 100%;
  max-width: 130px;
  margin-top: 10px;

  &:hover {
    opacity: .7;
  }
}
