@import "../_variables";

.flexRow {
  &--footer {
    &-newsletter {
      background: #0C1E1B;
      padding: 24px 0 33px 0;
      margin: 0 auto;
    }
    &-menus {
      margin: 50px auto 0 auto;
      padding-bottom: 42px;
      border-bottom: solid 1px rgba($color: #111, $alpha: 0.1);
    }
    &-selos {
      padding-block: 22px 24px;
      border-bottom: solid 1px rgba($color: #111, $alpha: 0.1);
    }
    &-na-midia {
      margin: 30px auto;
    }
    &-atendimento {
      margin-bottom: 30px;
    }
    &-copyright {
      padding: 40px 0;
      background-color: $useorganico-white;
      width: 100%;
      max-width: 1200px;
      margin-inline: auto;
    }
  }
}

.flexRow--footer-newsletter-desktop {
  background: #0C1E1B;
  padding-block: 30px;

  .flexRowContent--footer-newsletter-desktop {
    max-width: 1200px;
    margin-inline: auto;
  }
}

.flexRowContent--footer-menus {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;

  :global(.vtex-flex-layout-0-x-flexRowContent--container-social-media-icons) {
    padding-top: 0;
  }
}

.flexRowContent--footer-selos {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

@media (min-width: 1025px) {
  .flexCol {
    &--footer {
      &-newsletter {
        max-width: 405px;
      }
      &-menus {
        padding: 0 15px;
        min-width: 155px;
        &-destaque {
          max-width: 340px;
        }
      }
    }
  }
}
.flexRowContent{
  &--container-social-media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 49px;
    padding: 37px 0;
  }
  
  &--wrapper-average-number,
  &--average-percentage{
    display: flex;
    align-items:center;
  }
}
@media (max-width: 1024px) {
  .flexRow {
    &--footer-logo {
      margin: 30px auto;
    }
    .flexRowContent{
      &--footer-selos {
        gap: 30px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
