.MenuProductInformation_container {
  gap: 20px;
  height: 48px;
  display: flex;
  padding: 0 20px;
  border-radius: 5px;
  align-items: center;
  background-color: #f5f5f5;
}
.MenuProductInformation_container a {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
}
.MenuProductInformation_container .bg_green {
  color: #fff;
  background-color: #50a134;
}
.MenuProductInformation_container .bg_none {
  color: #000;
  background: none;
}
@media (max-width: 1024px) {
  .MenuProductInformation_container {
    overflow: auto;
  }
  .MenuProductInformation_container::-webkit-scrollbar {
    height: 1px;
  }
  .MenuProductInformation_container::-webkit-scrollbar-thumb {
    border-radius: 8px;
  }
  .MenuProductInformation_container::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #f5f5f5;
  }
  .MenuProductInformation_container a {
    white-space: nowrap;
  }
}
