@import "../../../../styles/scss/variables";

:global(.vtex-flex-layout-0-x-flexRow--pdp-traditional) {
  .seal {
    &_container {
      gap: 20px;
      display: flex;
      margin: 30px 0;
    }
  }
}

:global(.vtex-flex-layout-0-x-flexRow--pdp-use) {
  .seal {
    &_container {
      gap: 20px;
      z-index: 2;
      width: auto;
      bottom: 15px;
      display: flex;
      padding: 10px;
      margin: 0 auto;
      max-width: 750px;
      position: relative;
      border-radius: 12px;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      box-shadow: 0 0 11px -3px rgb(0 0 0 / 71%);
    }
    &_item {
      gap: 10px;
      display: flex;
      max-width: 17%;
      align-items: center;
      &_image {
        width: 40px;
        height: 40px;
      }
      &_text {
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

@media (min-width: 1025px) {
  :global(.vtex-flex-layout-0-x-flexRow--pdp-traditional) {
    .seal {
      &_item_image {
        width: 50px;
        height: 50px;
      }
      &_item_text {
        display: none;
        position: absolute;
        width: 130px;
        text-align: center;
        margin-left: -40px;
        margin-top: 7px;
        padding: 10px;
        background: $useorganico-white;
        border: 1px solid #fec000;
        border-radius: 10px;
        &_active {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexRow--pdp-traditional) {
    .seal {
      &_container {
        justify-content: flex-start;
      }
      &_item {
        gap: 5px;
        display: flex;
        max-width: 15%;
        align-items: center;
        flex-direction: column;
        &_image {
          width: 33px;
          height: 33px;
        }
        &_text {
          font-size: 10px;
          text-align: center;
          margin-bottom: 20px;
        }
      }
    }
  }
}
