.triggerContainer--pdp-use-pontos {
  display: flex;
  cursor: pointer;
  margin-bottom: 3px;
  align-items: flex-end;
}

.modal--pdp-use-pontos {
  .paper {
    max-width: 700px;
    .headerContainer {
      height: 38px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      .headerContent {
        width: 100%;
      }
    }
  }
}

:global(.vtex-flex-layout-0-x-flexColChild--pdp-signature-trigger) :global(.vtex-modal-layout-0-x-triggerContainer) {
  width: 100%;
  text-align: center;
  margin: 0 auto 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #468a2c;
  padding: 10px;
  border-radius: 4px;
  color: #468a2c;
  cursor: pointer;  
}

:global(.vtex-flex-layout-0-x-flexColChild--pdp-signature-trigger) :global(.vtex-modal-layout-0-x-triggerContainer) :global(.vtex-rich-text-0-x-paragraph) {
  color: #468a2c;
}

.productAssemblyGroupNameRow {
  position: absolute;
  top: 0;
  right: 0;
}

:global(.vtex-rich-text-0-x-wrapper--pdp-signature-title-modal) :global(.vtex-rich-text-0-x-heading-level-6) {
  font-weight: 600;
  font-size: 24px;
}

.modal--pdp-modal-signature .paper--pdp-modal-signature {
  padding: 32px 30px;
}

:global(.vtex-rich-text-0-x-container--pdp-signature-description-modal) :global(.vtex-rich-text-0-x-wrapper--pdp-signature-description-modal) :global(.vtex-rich-text-0-x-paragraph--pdp-signature-description-modal) {
  font-size: 12px;
  display: block;
  margin: 6px 0;
}

.closeButton--pdp-signature-close-modal {
  position: absolute;
  top: 5px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.closeButtonLabel--pdp-signature-close-modal {
  font-size: 0;
  display: none;
}

.closeButton--pdp-signature-close-modal::after {
  content: "X";
  display: block;
  font-size: 20px;
  transform: scaleX(1.5);
  font-weight: 400;
}

:global(.vtex-product-customizer-2-x-productAssemblyGroupNameRow) {
  display: none;
}

:global(.vtex-product-customizer-2-x-optionsInputValueLabelContainer--pdp-signature-values) {
  display: none;
}

:global(.vtex-product-customizer-2-x-optionsInputValue--pdp-signature-values) {
  margin: 10px 0;
}

:global(.vtex-product-customizer-2-x-optionsInputValueOptionBoxContainer--pdp-signature-values) {
  flex-direction: column;
  width: 100%;
}

:global(.vtex-product-customizer-2-x-inputValueOptionBox--pdp-signature-values) {
  width: 100%;
  height: auto;
  text-align: left;
  margin: 10px 0;
}

:global(.vtex-product-customizer-2-x-inputValueOptionBox--pdp-signature-values) .items-center .c-on-base{
  justify-content: flex-start;
  width: 100%;
  display: flex;
}

:global(.vtex-modal-layout-0-x-paper--pdp-modal-signature) :global(.vtex-button) {
  background-color: #ffc001;
  border-color: #ffc001;
}