@import "../variables";

.styledLinkContent--pdp-share {
  width: 20px;
  height: 20px;
  background: url(/arquivos/icon-share-pdp.png) no-repeat;
  background-size: contain;
}

.submenuWrapper--pdp-share {
  left: -20px;
  border: none;
  padding: 6px;
  background: #fff;
  border-radius: 11px;
  box-shadow: 1px 1px 1px #ccc;
}

@media (max-width: 1024px) {
  .submenuWrapper--pdp-share {
    left: -40px;
  }
}
