.link--pdp-i-dont-know-zipcode {
  color: #333333;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.link--pdp-image-column-link-know-more {
  color: #0C1E1B;
  font-size: 14px;
  line-height: 18px;
}