.productInformation_container {
  padding: 15px 0;
}
.productInformation_container p {
  margin: 0;
}
.productInformation_container ul {
  margin: 0;
  padding: 0;
}
.productInformation_container ul li::marker {
  font-size: 0;
}
.productInformation_container br {
  line-height: 14px;
}
.productInformation_content {
  gap: 15px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1240px;
  flex-direction: column;
  font-family: "Poppins";
}
.productInformation_item {
  padding: 10px;
  border-radius: 15px;
  font-family: "Fraunces";
  background-color: #fff;
}
.productInformation_video_container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 15px;
}
.productInformation_item_title {
  margin: 0 0 16px;
  font-weight: 500;
}
.productInformation_item_value {
  font-family: "Poppins";
}
.productInformation_item_value a {
  font-weight: 700;
  text-decoration: none;
  color: #000;
}


.productInformation_container {
  max-height: 617px;
  overflow: hidden;
  background: #F3F1E5;
  border: none;
  width: 100vw;
  margin: 20px -20px;
  padding: 25px 10px 20px 10px;
  position: relative;
  padding-bottom: 174px;

  @media (min-width: 1025px) {
    max-height: 437px;
  }
}

.productInformation_container_full {
  max-height: max-content;
  padding-bottom: 80px;

  .productInformation_footer {
    height: min-content;
  }
}

.productInformation_content {
  color: #000;
}

.productInformation_item {
  background: none;
  font-family: "General Sans" !important;
  font-size: 26px;
  line-height: 34px;
}

.productInformation_item_value {
  font-family: "General Sans" !important;
  font-size: 14px;
  line-height: 20px;

  strong {
    font-weight: 500;
  }
}

.productInformation_footer {
  background: linear-gradient(transparent, #F3F1E5, #F3F1E5);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 174px;
}

.productInformation_seeMore_button {
  border-radius: 4px;
  border: solid 2px #4B6D47;
  padding: 10px 24px;
  color: #4B6D47;
  font-size: 14px;
  background-color: transparent;
}

@media (min-width: 1025px) {
  .productInformation_item {
    font-size: 14px;
  }
  .productInformation_item_title {
    font-size: 30px;
    font-weight: 500;
  }
  .productInformation_item_value {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 1024px) {
  .productInformation_item {
    font-size: 12px;
    line-height: 24px;
  }
  .productInformation_item_title {
    font-size: 20px;
  }
  .productInformation_item_value {
    font-size: 12px;
    line-height: 24px;
  }
}
