.container {
  &--header {
    &-desktop,
    &-mobile {
      background-color: $useorganico-white;
    }
  }
}

.wrapper--header-mobile {
  height: 141px !important;

  :global(.vtex-flex-layout-0-x-flexRow--header-search-bar-mobile) {
    position: absolute;
    top: 74px;
    transition: .3s;
    z-index: 1;
    width: 100%;
    background: #fff;
  }

  :global(.vtex-flex-layout-0-x-flexRow--header-mobile) {
    position: absolute;
    top: 24px;
    z-index: 2;
    background: #fff;
    width: 100%;
  }

  &--stuck {
    height: 61px;

    :global(.vtex-flex-layout-0-x-flexRow--header-infoBar) {
      display: none;
    }
    
    :global(.vtex-flex-layout-0-x-flexRow--header-search-bar-mobile) {
      top: -10px;
    }
  
    :global(.vtex-flex-layout-0-x-flexRow--header-mobile) {
      top: 0;
      border-bottom: solid 1px #ddd;
      padding-bottom: 10px;
    }
  }
}