@import "../_variables";

.container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  
  .homeLink {
    &::before {
      content: "Início";
    }
    .homeIcon {
      display: none;
    }
  }
  .link {
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 1px;
    white-space: nowrap;
    color: $useorganico-black;
    text-transform: capitalize;
  }
  .arrow {
    padding: 0;
    display: flex;
    align-items: center;
    .caretIcon {
      display: none;
    }

    &::before {
      content: '';
      display: block;
      width: 10px;
      height: 2px;
      border-radius: 4px;
      background: #DDDDDD;
    }

    &:last-child {
      .link {
        opacity: .7;
        font-weight: 400;
      }
    }
  }
  .caretIcon {
    color: $useorganico-black;
  }
}
