.button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  transition: .3s;
  width: calc(100% / 5);
  text-align: left;

  &:hover {
    opacity: .3;
  }
}

.initialsList {
  display: flex;
  flex-wrap: wrap;
}
