@import "../_variables";

.stackItem--wishlist-btn {
  right: 0;
  left: auto;
}

@media (max-width: 1024px) {
  .stackContainer--product-summary {
    border-radius: 10px;
    background: #fff;
    padding: 12px;
  }
}

.stackItem--product-summary-highlights-wishlist-btn {
  width: 100%;

  @media (max-width: 1024px) {
    height: 100%;
    padding: 9px 12px;
  }
}

.stackItem--product-summary--first{
  border-radius: 10px;
  background: #fff;
}
