.link--embalagem-use {
  color: #000;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s linear;
  text-transform: uppercase;
  &:hover {
    color: #fff;
    transition: 0.2s linear;
  }
}
