@import "./variables";

// General Start

.styledLinkContainer {
  margin: 0;
  padding: 0;
  .styledLink--highlight {
    color: inherit;
    font-weight: 700;
  }
}

.submenuAccordion {
  padding: 0;
  margin-bottom: 20px;
}

// General End

@import "./header/vtex.menu";
@import "./footer/vtex.menu";
@import "./institutional/vtex.menu";
@import "./pdp/vtex.menu";
