.countdown_container {
  padding: 5px 0 0 0;
  .countdown_content {
    display: flex;
    min-height: 53px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 30px;
    background-color: #F3F1E5;
    .countdown_title {
      font-size: 30px;
      line-height: 34px;
    }
    .countdown_subTitle {
      font-size: 16px;
      text-align: center;
      color: #333333;
    }
    .countdown {
      display: flex;
      margin-left: 24px;
      align-items: center;
      justify-content: center;
      .countdown_item {
        margin: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        &_number {
          width: 43px;
          height: 43px;
          display: flex;
          font-size: 30px;
          line-height: 43px;
          border-radius: 6px;
          align-items: center;
          justify-content: center;
          background-color: #BED6AB;
          font-weight: 500;
        }
        &_division {
          font-size: 30px;
          font-weight: 500;
          line-height: 43px;
          margin-left: 10px;
        }
      }
    }
  }
  .countdown_container_shelf {
    width: 100%;
    margin: 0 auto;
    background: #F3F1E5;
  }
}

@media (min-width: 1024px) {
  .countdown_content {
    flex-direction: row !important;
    align-items: center !important;
  }

  .countdow_column {
    width: auto;
    height: 100%;
  }

  .countdown_image {
    margin-top: 0;
    height: 450px;
  }

  .countdown_title {
    text-align: left;
  }

  .countdown_subTitle {
    text-align: left !important;
  }

  .countdown {
    justify-content: flex-start !important;
    margin-left: 0 !important;
  }
}



@media (max-width: 768px) {
  .countdown_container {
    .countdown_content {
      .countdown_title {
        font-size: 26px;
      }
      .countdown_subTitle {
        font-size: 12px;
      }
      .countdown {
        .countdown_item {
          &_number {
            width: 37px;
            height: 37px;
            font-size: 20px;
            line-height: 30px;
            color: #0C1E1B;
            font-weight: 500;
          }
        }
      }
    }
  }
}
